-trace_opcode_latency_initiation_int 4,1
-trace_opcode_latency_initiation_sp 4,1
-trace_opcode_latency_initiation_dp 20,8
-trace_opcode_latency_initiation_sfu 20,4

#execute branch insts on spec unit 1
#in Volta, there is a dedicated branch unit
#<enabled>,<num_units>,<max_latency>,<ID_OC_SPEC>,<OC_EX_SPEC>,<NAME>
-specialized_unit_1 1,4,4,4,4,BRA
-trace_opcode_latency_initiation_spec_op_1 4,4

#TEX unit, make fixed latency for all tex insts
-specialized_unit_2 1,4,200,4,4,TEX
-trace_opcode_latency_initiation_spec_op_2 200,

-trace_enabled 1
-trace_components memory
